<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="w-full">
        <div class="marque py-2  text-[1.02vw] font-bold flex whitespace-nowrap gap-10 overflow-hidden">
            <div class="marque-child flex gap-10 items-center">
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
            </div>
            <div class="marque-child flex gap-10 items-center">
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
                <h4>CODE AVAILABE</h4>
            </div>
        </div>
        <div class="navbar w-full px-4 flex items-center justify-between">
            <h2 class="font-extrabold text-xl">ESSENTIAL</h2>
            <div class="flex text-sm items-center gap-8 font-bold text-black/70 tracking-wide">
                <a class="hover:text-blue-800" href="/">HOME</a>
                <a class="hover:text-blue-800" href="/collection/all products">SHOP ALL</a>
                    <span class="relative">
                        <a class="show hover:text-blue-800 relative z-10" href="/collection/all products">COLLECTIONS</a>
                        <span id="coll" class="show  hidden absolute top-0 left-1/2 -translate-x-1/2  pt-12">
                           <span class=" flex flex-col items-center bg-white p-4 shadow shadow-black/10">
                            <a class="hover:text-blue-800 relative font-semibold text-xs capitalize py-2 whitespace-nowrap border-b w-full text-center border-black/10" href="/collection/winter collection">winter collection</a>
                            <a class="hover:text-blue-800 relative font-semibold text-xs capitalize py-2 whitespace-nowrap border-b w-full text-center border-black/10" href="/collection/summer collection">summer collection</a>
                            <a class="hover:text-blue-800 relative font-semibold text-xs capitalize py-2 whitespace-nowrap border-b w-full text-center border-black/10" href="/collection/t-shirt">t-shirt</a>
                            <a class="hover:text-blue-800 relative font-semibold text-xs capitalize py-2 whitespace-nowrap w-full text-center" href="/collection/track pants">track pants</a>
                           </span>
                        </span>
                    </span>
            </div>
            <div class="flex items-center gap-6 text-2xl">
                <i class="ri-search-line"></i>
               <a href="/cart" class="flex items-center gap-3">
                    <i class="ri-shopping-cart-2-line"></i>
                    <div class="w-6 h-6 flex items-center justify-center bg-black rounded-full text-white font-semibold text-xs">
                        <%= cartCount %>
                    </div>
                </a>
            </div>
        </div>
    </div>