<%- include("./partials/header.ejs") %>
<div class="w-full px-44 min-h-screen py-10">
    <span>
        <a class=" font-semibold text-black/50" href="/">Home</a> <i class="ri-arrow-right-wide-line font-semibold text-black/50"></i><a href=""></a> <a class="capitalize font-semibold text-black/50 text-sm" href="/cart">Your Cart</a>
    </span>
    <div class="w-full flex gap-6 pt-12">
        <div class="w-[70%] ">
            <div class="flex items-center justify-between bg-zinc-100 px-2 py-4">
                <h2 class="uppercase font-bold">product</h2>
                <div class="flex gap-20 pr-10">
                    <h2 class="uppercase font-bold">price</h2>
                    <h2 class="uppercase font-bold">quantity</h2>
                    <h2 class="uppercase font-bold">total</h2>
                </div>
            </div>
            <div class="w-full h-44 rounded border flex items-center justify-between border-zinc-300 mt-3 p-10">
                <div class="flex gap-3">
                    <div class="w-20 h-20 bg-orange-500">
                        <img class="w-full h-full object-cover" src="https://www.allstag.com/cdn/shop/files/15.1.jpg?v=1714535561" alt="">
                    </div>
                    <div>
                        <h4>Manne Tanne Dil (Sky Blue)</h4>
                        <h5 class="text-sm text-zinc-500">Allstag</h5>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-10">
                    <h4>Rs. 1,499.00</h4>
                    <div class="px-3 border border-zinc-500  py-2 text-xl  flex  justify-center gap-6">
                        <i class="ri-add-large-fill"></i>
                        <h2>0</h2>
                        <i class="ri-subtract-line"></i>
                    </div>
                    <h4>Rs. 1,499.00</h4>
                </div>
            </div>
            <div class="w-full h-44 rounded border flex items-center justify-between border-zinc-300 mt-3 p-10">
                <div class="flex gap-3">
                    <div class="w-20 h-20 bg-orange-500">
                        <img class="w-full h-full object-cover" src="https://www.allstag.com/cdn/shop/files/15.1.jpg?v=1714535561" alt="">
                    </div>
                    <div>
                        <h4>Manne Tanne Dil (Sky Blue)</h4>
                        <h5 class="text-sm text-zinc-500">Allstag</h5>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-10">
                    <h4>Rs. 1,499.00</h4>
                    <div class="px-3 border border-zinc-500  py-2 text-xl  flex  justify-center gap-6">
                        <i class="ri-add-large-fill"></i>
                        <h2>0</h2>
                        <i class="ri-subtract-line"></i>
                    </div>
                    <h4>Rs. 1,499.00</h4>
                </div>
            </div>
            <div class="w-full h-44 rounded border flex items-center justify-between border-zinc-300 mt-3 p-10">
                <div class="flex gap-3">
                    <div class="w-20 h-20 bg-orange-500">
                        <img class="w-full h-full object-cover" src="https://www.allstag.com/cdn/shop/files/15.1.jpg?v=1714535561" alt="">
                    </div>
                    <div>
                        <h4>Manne Tanne Dil (Sky Blue)</h4>
                        <h5 class="text-sm text-zinc-500">Allstag</h5>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-10">
                    <h4>Rs. 1,499.00</h4>
                    <div class="px-3 border border-zinc-500  py-2 text-xl  flex  justify-center gap-6">
                        <i class="ri-add-large-fill"></i>
                        <h2>0</h2>
                        <i class="ri-subtract-line"></i>
                    </div>
                    <h4>Rs. 1,499.00</h4>
                </div>
            </div>
        </div>
        <div class="w-[30%]  py-3 px-3">
            <h1 class="text-2xl uppercase font-bold mt-1 ">Order Summary</h1>
            <hr class="bg-black mt-2 h-[2px] mb-3">
            <div class="w-full flex items-center justify-between pt-4  border-t border-b border-zinc-300">
                <h4 class="font-semibold text-md">Subtotal</h4>
                <h2 class="font-bold text-lg">Rs. 5,260.000</h2>
            </div>
            <div class="w-full flex items-center justify-between pt-4 mt-2 border-t border-b border-zinc-300">
                <h4 class="font-semibold text-lg">TOTAL:</h4>
                <h2 class="font-bold text-xl">Rs. 5,260.000</h2>
            </div>
        </div>
    </div>
</div>
<%- include("./partials/footer.ejs") %>